*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 14px;
    background-color: antiquewhite;
}
.right_section{
    width: 400px;
}
.left_section img{
    width: 100%;
    height: 100%;
}

.left_section{
    margin: 7px;
}

#nav-menu{
    list-style-type: none;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    margin-top: 15px;
}
.courses-information{
    
}
.courses-preview{
    margin-bottom: 12px;
    position: relative;
}
ul#nav-menu li a{
    text-decoration: none;
    color: black;
}
ul#nav-menu li a:hover{
    text-decoration: none;
    background-color: antiquewhite;
}
.Container-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 36px;
}
#cat{
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 40px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.listOfCat{
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
}
.listOfCat:hover{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    cursor: pointer;
}
.Container-flex{
    display: flex;
    justify-content: space-around;
}
.no-found-courses{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/OtherImage/not-found.png');
    background-repeat: no-repeat;
    margin: auto;
}
.secondary-nav{
}
.container-courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 40px;
    margin: 0 20px;
}
img.photo{
    width: 100%;
    aspect-ratio: 1/0.6;
}
.courses_title{
    font-weight: 500;
    margin-bottom: 17px;
    height: 7rem;
    max-height: 7rem;
}
#separator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#price_range{
    margin: 0 auto;
}
.price{
    background-color: rgba(249, 89, 9, 0.732);
    padding: 4px;
    border-radius: 10px;
    font-weight: bold;

}
.category{
    background-color: rgba(14, 202, 14, 0.6);
    padding: 4px 11px;
    border-radius: 10px;
    font-weight: bold;

}
#Search{
    padding: 3px;
    border-radius: 10px;
    border: 1px solid black;

}

.container-footer{
    margin-left: 50px;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}


.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text
  {
    text-align:center
  }
}



.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: white;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;

}

.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

.range-slider__value::before {
    
    content: '$';
}

#Search{
    padding: 10px;
    width: 200px;
    margin-left: 20%;
    border-radius: 10px;
    border: none;
    outline: 1px solid rgba(5, 5, 5, 0.678);
}
.price-search{
    margin-left: 10%;
  }
#price_range{
    width: 200px;
    
}